{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
 <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'show_all_products' %}">Shop</a>
      </li>
    {% if 'Shop_app.add_product' in perms %}
     <li class="nav-item">
        <a class="nav-link" href="{% url 'add_product' %}">AddProduct</a>
      </li>
    {% endif %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'about_me' %}">Read about Me!</a>
    </li>

    </ul>
  </div>
</nav>
<div class="container m-4">
{% block content %}
{% endblock %}
</div>
<p>{{ date }}</p>
    <li class="nav-item">
        <a class="nav-link active" href="https://github.com/PatrykOlczykk"><img src="{% static 'github.png' %}" width="200" target ="_blank"></a>
    </li>
</body>
</html>