<H2>Dodaj swój komentarz!</H2>
<p>
    <form method="post" action="{% url 'add_comment' product.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</p>
    <H6 >Komentarze innych użytkowników</H6>
    <ul class="list-group">
        {% for comment in product.comment_set.all %}
            <li class="list-group-item">
            <h6>{{ comment.author }}</h6>
            <p>Komentarz: {{ comment.text }}</p>
            <p>Ocena: {{ comment.vote }}</p>
            <p>{{ comment.created }}</p>
                {% if request.user == comment.author %}
                    <p><a href="{% url 'confirm_delete_comment' comment.id %}"
                    class="btn btn-danger">Delete comment</a></p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>