{% extends 'base.html' %}
{% block content %}
    <h1>{{ product }}</h1>
    <div class="alert-warning">
    <ul class="list-group">
        <li class="list-group-item">Cena {{ product.price }}</li>
        <li class="list-group-item">Opis: {{ product.description }}</li>
        <li class="list-group-item">Tags: {{ product.tag }}</li>
        <li class="list-group-item">Available sizes: {{ product.available_size }}</li>
        <li class="list-group-item">Color: {{ product.color }}</li>
        <li class="list-group-item">Gender: {{ product. }}</li>
        {% if  product_score  == 0 %}
            <li class="list-group-item">Brak ocen</li>
        {% else %}
            <li class="list-group-item">Ocena użytkowników: {{ product_score }}</li>
        {% endif %}
    </ul>
    </div>
    {% if 'Shop.delate_product' in perms %}
            <a href="{% url 'confirm_delate_product' product.id %}" class="btn btn-danger">Delate product</a>
            <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit product</a>
    {% endif %}
    {% include 'comments.html' %}
{% endblock %}